/* colors: 
  back arrow, time:   #277DBD  
  Highlight text:     #91B7CC
  Lowlight text:      #267CBC
  Weather icon &text: #3893B1
  Small icons:        #023876
  Plus green:         #02FF40
*/


.App {
  text-align: center;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.back-arrow {
  height: 20px;
  padding: 10px 150px 0 0;
  filter: invert(47%) sepia(19%) saturate(1923%) hue-rotate(163deg) brightness(88%) contrast(90%);
}

.plus-icon {
  height: 30px;
  filter: invert(62%) sepia(85%) saturate(695%) hue-rotate(79deg) brightness(103%) contrast(111%);
}

.time-text {
  color: #277DBD
}